﻿
@model List<EquipamentoEletronico>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - calculodeequipamentos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b45d06f883.js" crossorigin="anonymous"></script>
</head>

<body>
  <style>
      #intro {
        background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
        height: 105vh;
      }

      .navbar .nav-link {
        color: #fff !important;
      }
    </style>

    <header>
        @Html.Partial("_LoginPartial")
        <div class="inicio">
        <a   asp-controller="Equipamento" asp-action="Index">
                <img class="login" src="img/icons8-home.svg" />
            <span class="span-inicio">Início</span>
        </a>
            <a>

                <img class="login" src="img/icons8-person-64.png" />
                <span class="span-inicio">Login</span>
            </a>

        </div>

        <div id="intro" class="bg-image shadow-2-strong">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
                <div class="container d-flex align-items-center justify-content-center text-center h-100">
                    <div class="text-white">

               

                        <img width="190" height="190" src="/css/lamp-charge-svgrepo-com.svg"/>
                        <h1 class="mb-3">Calculadora de equipamentos eletrodomésticos</h1>
                        <br /> <br /> <br />
                        <h5 class="mb-4"> Nós do Grupo 02, do curso de Análise e Desenvolvimento de Sistemas, acreditamos que a 
                            preservação do meio ambiente é uma responsabilidade de todos, e nos dedicamos a oferecer soluções 
                            através da nossa Aplicação voltada para os cálculos do uso da energia residencial</h5>
                        <br /> <br /> <br /> <br /> 
                        <img width="100" height="50" src="~/css/arrow-down-338-svgrepo-com.svg"/>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Equipamento" asp-action="Calculadora">Adicionar novo equipamento</a>

    </div>
    <br />

    <h1 class="display-4">Listagem de equipamentos</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th scope="col">Quantidade</th>
                <th scope="col">Nome do Equipamento</th>
                <th scope="col">KHW</th>
                <th scope="col">Tempo de Uso</th>
                <th scope="col">Consumo</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EquipamentoEletronico equipamento in Model)
                {
                    <tr>
                      
                        <td>@equipamento.Quantidade</td>
                        <td>@equipamento.Nome</td>
                        <td>@equipamento.Potencia</td>
                        <td>@equipamento.TempoDeUso</td>
                        <td>@equipamento.Consumo</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@equipamento.Id" asp-asp-controller="Equipamento" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@equipamento.Id" asp-asp-controller="Equipamento" asp-action="Apagar">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <a asp-controller="Equipamento" asp-action="Resultado" class="btn btn-primary" id="btnConfirmar">Confirmar</a>

    @section Scripts {
        <script>
            document.getElementById("btnConfirmar").addEventListener("click", function () {
                var equipamentos = @Html.Raw(Json.Serialize(Model));

                var consumoTotal = 0;
                for (var i = 0; i < equipamentos.length; i++) {
                    consumoTotal += equipamentos[i].Consumo;
                }

                var placasSolares = Math.ceil(consumoTotal / 300); // Cada placa solar gera 300 kWh por mês

                window.location.href = "/Equipamento/Resultado?consumoTotal=" + consumoTotal + "&placasSolares=" + placasSolares;
            });
        </script>
    }


    <footer class="bg-light text-lg-start">
       


        <div class="text-center py-4 align-items-center">
            <p>Siga nossas redes</p>
            <a href="https://www.youtube.com/" class="btn btn-primary m-1" role="button"
               rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/" class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>


        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright
            <a class="text-dark" href="https://calculodeequipamentos.azurewebsites.net/">calculodeequipamentos.com</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>